*{
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}




nav{
  background: hsl(0, 0%, 15%);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  color: white;
  font-family: Quicksand, sans-serif ;
  padding: 0px 10px;
}
.active{
  justify-content: center;
  gap: 40px;
}
.place-name{
  display: flex;
  gap:10px;
}
.place-name .city-name{
  font-weight: 600;
}

.search-bar{
  width: 500px;
  position: relative;
}
.search-bar .city-name{
  width: 95%;
  padding: 10px 10px 10px 50px;
  margin: 12px;
  background: none;
  border: 1px solid white;
  border-radius: 20px;
  outline-color: hsl(60, 100%, 40%);
  color: white;
}
.fa-magnifying-glass{
  cursor: pointer;
  position: absolute;
  top: 23px;
  left: 30px;
  transform: scale(1);
  transition: transform 0.25s ease;
}
.fa-magnifying-glass:hover{
  transform: scale(1.2);
}

.mode-changer{
  background: hsl(0, 0%, 15%);
  padding: 7px;
  border-radius: 50%;
  transition: all .25s ease;
}

.mode-changer:hover{
  background: hsl(0, 0%, 30%);
}
.fa-moon{
  cursor: pointer;
  font-size: 1.2em;
}


@media (max-width:600px){
  .active{
    gap: 10px;
  }
}

@media (max-width:870px){
  nav{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    position: relative;
  }

  .active{
    gap: 0px;
  }

}

@media (max-width:600px){

  .search-bar{
    width: 300px;
  }
  
}
